#announcements {
    text-align: center;
}

.theButton {
    text-align: center;
}

body {
    background: url("https://media.giphy.com/media/Hr3X4BW24qLcI/giphy.gif")
}

.buttonz {
    opacity: 0.95
}